/* ./assets/css/main.css */

@import url("https://api.fontshare.com/v2/css?f[]=space-grotesk@1,800,500,100,700,400,300,200,900&f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Space 3xs: 4px → 12px */
  --space-3xs: clamp(0.25rem, calc(0.15rem + 0.5vw), 0.75rem);

  /* Space 2xs: 8px → 24px */
  --space-2xs: clamp(0.5rem, calc(0.3rem + 1vw), 1.5rem);

  /* Space xs: 12px → 36px */
  --space-xs: clamp(0.75rem, calc(0.45rem + 1.5vw), 2.25rem);

  /* Space s: 16px → 48px */
  --space-s: clamp(1rem, calc(0.6rem + 2vw), 3rem);

  /* Space m: 24px → 72px */
  --space-m: clamp(1.5rem, calc(0.9rem + 3vw), 4.5rem);

  /* Space l: 32px → 96px */
  --space-l: clamp(2rem, calc(1.2rem + 4vw), 6rem);

  /* Space xl: 48px → 144px */
  --space-xl: clamp(3rem, calc(1.8rem + 6vw), 9rem);

  /* Space 2xl: 64px → 192px */
  --space-2xl: clamp(4rem, calc(2.4rem + 8vw), 12rem);

  /* Space 3xl: 96px → 288px */
  --space-3xl: clamp(6rem, calc(3.6rem + 12vw), 18rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 24px */
  --space-3xs-2xs: clamp(0.25rem, calc(0rem + 1.25vw), 1.5rem);

  /* Space 2xs-xs: 8px → 36px */
  --space-2xs-xs: clamp(0.5rem, calc(0.15rem + 1.75vw), 2.25rem);

  /* Space xs-s: 12px → 48px */
  --space-xs-s: clamp(0.75rem, calc(0.3rem + 2.25vw), 3rem);

  /* Space s-m: 16px → 72px */
  --space-s-m: clamp(1rem, calc(0.3rem + 3.5vw), 4.5rem);

  /* Space m-l: 24px → 96px */
  --space-m-l: clamp(1.5rem, calc(0.6rem + 4.5vw), 6rem);

  /* Space l-xl: 32px → 144px */
  --space-l-xl: clamp(2rem, calc(0.6rem + 7vw), 9rem);

  /* Space xl-2xl: 48px → 192px */
  --space-xl-2xl: clamp(3rem, calc(1.2rem + 9vw), 12rem);

  /* Space 2xl-3xl: 64px → 288px */
  --space-2xl-3xl: clamp(4rem, calc(1.2rem + 14vw), 18rem);

  /* Custom pairs */
  /* Space s-l: 16px → 96px */
  --space-s-l: clamp(1rem, calc(0rem + 5vw), 6rem);
}

* {
  @apply scroll-m-20;
}

html {
  scroll-behavior: smooth;
}

body {

  @apply text-slate-700;
  @apply font-body;
}

#__nuxt > div {
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: underline;
}

main > *::before {
  --line-width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: calc(-1 * var(--line-width));
  left: 0;
  width: 100vw;
  height: calc(100% + var(--line-width) * 2);
  background: paint(borderLines);
  pointer-events: none;
}

.d-circles {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.d-circle {
  width: 8px;
  height: 8px;
  background-color: hsl(220 14% 91% / 1);
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 1;
}

.d-circle__1 {
  top: -4px;
  left: -4px;
}
.d-circle__2 {
  top: -4px;
  right: -4px;
}
.d-circle__3 {
  bottom: -4px;
  left: -4px;
}
.d-circle__4 {
  bottom: -4px;
  right: -4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
  @apply font-header;
}

img {
  width: 100%;
}

main {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.a11y-link {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.icon {
  @apply inline-flex w-6 h-6;
}

.icon.solid {
  @apply fill-slate-500;
}

.icon.stroke {
  @apply stroke-slate-500;
}

.cta {
  @apply p-1.5 px-2 bg-slate-50 border border-slate-200 font-semibold rounded-lg;
  @apply transition-all hover:-translate-y-0.5 focus:bg-slate-100 active:translate-y-0.5 active:shadow-inner;
}

.cta.w-icon {
  @apply flex items-center gap-2 pr-3;
}

.img-cont img {
  @apply h-full w-full object-cover;
}

/* GRID */
.l-container {
  max-width: 1920px;
  position: relative;
  margin: 0 1.25rem;
}

@media (min-width: 1940px) {
  .l-container {
    margin: 0 auto;
  }
}

.l-grid-line:before,
.l-grid-line:after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
}

.l-grid-line--t:before,
.l-grid-line--t:after {
  top: 0;
}

.l-grid-line--b:before,
.l-grid-line--b:after {
  bottom: 0;
}
.l-grid-line:before {
  border-top: 1px solid rgb(243 244 246 / var(--tw-bg-opacity));
  right: 100%;
}

.l-grid-line:after {
  border-bottom: 1px solid rgb(243 244 246 / var(--tw-bg-opacity));
  left: 100%;
}

/* ARTICLES PAGES */

.article-tags {
  @apply flex gap-2 py-2;
}

.article-tags .tag {
  @apply bg-slate-100 text-slate-700 text-sm p-2 py-1 rounded-md;
  @apply transition-all !py-0.5 hover:-translate-y-0.5;
}

/* BLOG PAGES */

.page-heading {
  @apply p-12 bg-slate-50;
}

.page-heading > .wrapper {
  @apply max-w-3xl m-auto;
}

.page-section {
  @apply p-4 py-8 m-auto max-w-3xl;
}

.article-list {
  @apply flex flex-col gap-6;
}

.article-item {
  @apply pt-6 first-of-type:border-none border-t border-slate-200;
}

.article-item a {
  @apply no-underline;
}

.article-item > * > .wrapper {
  @apply flex items-start gap-4;
}

/* BUTTONS */

.c-btn--primary {
  @apply font-header;
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 0.75rem;  
}

.c-btn--primary:hover,
.c-btn--primary:focus {
  @apply bg-b-blue-500;
}

.c-pill {
  @apply font-header;
  letter-spacing: 0.125em;
  font-size: 0.75rem;  
}