/* ./assets/css/main.css */

@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@1,800,500,100,700,400,300,200,900&f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Space 3xs: 4px → 12px */
  --space-3xs: clamp(0.25rem, calc(0.15rem + 0.50vw), 0.75rem);

  /* Space 2xs: 8px → 24px */
  --space-2xs: clamp(0.50rem, calc(0.30rem + 1.00vw), 1.50rem);

  /* Space xs: 12px → 36px */
  --space-xs: clamp(0.75rem, calc(0.45rem + 1.50vw), 2.25rem);

  /* Space s: 16px → 48px */
  --space-s: clamp(1.00rem, calc(0.60rem + 2.00vw), 3.00rem);

  /* Space m: 24px → 72px */
  --space-m: clamp(1.50rem, calc(0.90rem + 3.00vw), 4.50rem);

  /* Space l: 32px → 96px */
  --space-l: clamp(2.00rem, calc(1.20rem + 4.00vw), 6.00rem);

  /* Space xl: 48px → 144px */
  --space-xl: clamp(3.00rem, calc(1.80rem + 6.00vw), 9.00rem);

  /* Space 2xl: 64px → 192px */
  --space-2xl: clamp(4.00rem, calc(2.40rem + 8.00vw), 12.00rem);

  /* Space 3xl: 96px → 288px */
  --space-3xl: clamp(6.00rem, calc(3.60rem + 12.00vw), 18.00rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 24px */
  --space-3xs-2xs: clamp(0.25rem, calc(0.00rem + 1.25vw), 1.50rem);

  /* Space 2xs-xs: 8px → 36px */
  --space-2xs-xs: clamp(0.50rem, calc(0.15rem + 1.75vw), 2.25rem);

  /* Space xs-s: 12px → 48px */
  --space-xs-s: clamp(0.75rem, calc(0.30rem + 2.25vw), 3.00rem);

  /* Space s-m: 16px → 72px */
  --space-s-m: clamp(1.00rem, calc(0.30rem + 3.50vw), 4.50rem);

  /* Space m-l: 24px → 96px */
  --space-m-l: clamp(1.50rem, calc(0.60rem + 4.50vw), 6.00rem);

  /* Space l-xl: 32px → 144px */
  --space-l-xl: clamp(2.00rem, calc(0.60rem + 7.00vw), 9.00rem);

  /* Space xl-2xl: 48px → 192px */
  --space-xl-2xl: clamp(3.00rem, calc(1.20rem + 9.00vw), 12.00rem);

  /* Space 2xl-3xl: 64px → 288px */
  --space-2xl-3xl: clamp(4.00rem, calc(1.20rem + 14.00vw), 18.00rem);

  /* Custom pairs */
  /* Space s-l: 16px → 96px */
  --space-s-l: clamp(1.00rem, calc(0.00rem + 5.00vw), 6.00rem);
}

* {
  @apply scroll-m-20;

}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-slate-700;
}


a {
  text-decoration: underline;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
}

main {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.a11y-link {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
  }

}

.icon {
  @apply inline-flex w-6 h-6;
}

.icon.solid {
  @apply fill-slate-500;
}

.icon.stroke {
  @apply stroke-slate-500;
}


.cta {
  @apply p-1.5 px-2 bg-slate-50 border border-slate-200 font-semibold rounded-lg;
  @apply transition-all hover:-translate-y-0.5 focus:bg-slate-100 active:translate-y-0.5 active:shadow-inner;
}

.cta.w-icon {
  @apply flex items-center gap-2 pr-3;
}

.img-cont img {
  @apply h-full w-full object-cover;
}

/* GRID */
.l-container {
  max-width: 1920px;
  position: relative;
  margin: 0 1.25rem;
}

@media (min-width: 1940px) {
  .l-container {
    margin: 0 auto;
  }
}

.l-grid-line:before,
.l-grid-line:after { 
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
}

.l-grid-line--t:before,
.l-grid-line--t:after { 
  top: 0;
}

.l-grid-line--b:before,
.l-grid-line--b:after { 
  bottom: 0;
}
.l-grid-line:before {
  border-top: 1px solid rgb(243 244 246 / var(--tw-bg-opacity));
  right: 100%;
}

.l-grid-line:after {
    border-bottom: 1px solid rgb(243 244 246 / var(--tw-bg-opacity));    
    left: 100%;
}

/* ARTICLES PAGES */

.article-tags {
  @apply flex gap-2 py-2;
}

.article-tags .tag {
  @apply bg-slate-100 text-slate-700 text-sm p-2 py-1 rounded-md;
  @apply transition-all !py-0.5 hover:-translate-y-0.5;
}

/* BLOG PAGES */

.page-heading {
  @apply p-12 bg-slate-50;
}

.page-heading>.wrapper {
  @apply max-w-3xl m-auto;
}

.page-section {
  @apply p-4 py-8 m-auto max-w-3xl;
}

.article-list {
  @apply flex flex-col gap-6;
}

.article-item {
  @apply pt-6 first-of-type:border-none border-t border-slate-200;
}

.article-item a {
  @apply no-underline;
}

.article-item>*>.wrapper {
  @apply flex items-start gap-4;
}